.img-bg {
  background-image: url("../../images/main-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 15px 15px;
  position: relative;
  overflow: hidden;
  padding: 30px;
}

.img-bg .row {
  position: relative;
  z-index: 2;
}

.about-hero .img-bg {
  background-image: url("../../images/about-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px 15px 15px 15px;
  padding: 30px;
  position: relative;
}

.img-bg::after {
  content: "";
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


/* Buy pages */
.appartments-hero .img-bg {
  background-image: url("../../images/buy/buy-apartments-in-dubai-uae.jpg");
}

.appartment-hero .img-bg {
  background-image: url("../../images/buy/buying-an-apartment-in-dubai-uae.jpg");
}
.villa-hero .img-bg {
  background-image: url("../../images/buy/buy-a-villa-in-dubai-uae.jpg");
}
.loft-hero .img-bg {
  background-image: url("../../images/buy/buy-a-loft-in-dubai-uae.jpg");
}
.house-hero .img-bg {
  background-image: url("../../images/buy/buy-a-house-in-dubai-uae.webp");
}
.duplex-hero .img-bg {
  background-image: url("../../images/buy/buy-duplex-in-dubai-uae.jpg");
}
.property-hero .img-bg {
  background-image: url("../../images/buy/buy-property-in-dubai-uae.jpeg");
}
.penthouses-hero .img-bg {
  background-image: url("../../images/buy/penthouses-for-sale-in-dubai-uae.jpeg");
}
.townhouse-hero .img-bg {
  background-image: url("../../images/buy/buy-a-townhouse-in-dubai-uae.jpg");
}

@media screen and (min-width: 1024px) {
  .img-bg {
    height: 630px;
    padding: 0;
  }

  .leave-request-hero .img-bg {
    height: 230px;
  }

  .about-hero {
    font-size: 20px;
  }
}

.img-bg .row > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.percentage-num {
  color: var(--bs-primary);
}

.percentage-num > span {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-right: 10px;
}

.percentage-num .num {
  font-weight: 500;
  font-size: 64px;
  line-height: 78px;
}

.percentage-num + p {
  font-weight: 400;
  font-size: 19px;
  line-height: 20px;
  color: #fff;
  margin: 0 0 11px;
  text-align: center;
}
