@import url("./components/utils.css");
@import url("./components/hero.css");
@import url("./components/slick.css");
@import url("./components/form.css");
@import url("./components/modal.css");
@import url("./components/projects.css");
@import url("./components/developers.css");
@import url("./components/float-bar.css");
@import url("./components/contact-us.css");

@import url("./aos.css");
@import url("./intlTelInput.min.css");

.iti__flag {
  background-image: url("../images/flags/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../images/flags/flags@2x.png");
  }
}

.iti {
  width: 100%;
}


body, .accordion-body, .accordion-button, .modal-content {
  background: #292929;
}

.accordion-button:not(.collapsed) {
  color: #292929
}

.nav-link, .main-heading, .accordion-button, .modal-content, .accordion-body, footer * {
  color: white
}

.submit-request-wrapper {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  background-color: #003057;
}