.project-name {
  font-size: 96px;
  color: white;
}

.project-desc {
  color: white;
  font-size: 24px;
}

.safa_two_by_damac-hero .img-bg {
  background-image: url("../projects/damac/safa_two_by_damac/images/hero-img.webp");
}

.between-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 20px;
}

.between-line span {
  background: #292929;
  padding: 0 60px;
  color: #fff;
}


.project-prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-prices .text-primary {
  font-size: 75px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 426px) {
  .project-name {
    font-size: 50px;
  }

  .between-line span {
    padding: 0 10px;
  }
  
}

.layouts .nav-item .nav-link:hover {
  color: white !important
}


.layout-card {
  width: 700px;
  background-color: white;
}

@media screen and (max-width: 750px) {

  .layout-card {
    width: 300px;
  }    
}

.layout-card .layout-design {
  box-shadow: 0 4px 20px rgba(0,0,0,.25)
}

@media screen and (max-width: 768px) {
  .layout-card .layout-design img {
    height: 300px;
  }
}

.layout-card .details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.layout-card .details hr {
  width: 100%;
}

.layout-card .details-list p img {
  width: 30px;
  height: 30px;
}

.elementor-icon-box-wrapper h3 {
  font-size: 16px;
  margin: 10px 0;
}